@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  min-height: 100vh;
  margin: 0 auto;
  width: 100vw;
  display: grid;
  place-content: center;
  main {
    display: flex;
    flex-direction: row;
    margin: 5rem;
    height: 400px;
    color: white;
    border-radius: 5px;
    overflow: hidden;

    .card {
      padding: 2.5rem;
      width: 260px;

      &:nth-child(1) {
        background-color: #e38826;

        button {
          color: #e38826;
        }
      }
      &:nth-child(2) {
        background-color: #006970;

        button {
          color: #006970;
        }
      }
      &:nth-child(3) {
        background-color: #004241;

        button {
          color: #004241;
        }
      }

      img {
        height: 2.3rem;
        margin: 0.5rem 0;
      }

      h1 {
        margin: 0.5rem 0;
        font-family: "Big Shoulders Display", cursive;
        font-size: 2.5rem;
      }

      p {
        font-family: "Lexend Deca", sans-serif;
        font-size: 0.8rem;
        margin: 1rem 0;
        color: #e2e2e2;
        height: 5rem;
      }

      button {
        font-family: "Lexend Deca", sans-serif;
        margin-top: 3rem;
        height: 2.3rem;
        width: 7rem;
        padding: 0.4rem;
        outline: none;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          border: solid white 2px;
          background-color: rgba(0, 0, 0, 0);
          color: white;
        }
      }
    }
  }
}

@media all and (max-width: 790px) {
  body {
    height: unset;

    main {
      flex-direction: column;
      height: unset;
      margin: 2rem;

      .card {
        img {
          height: 2rem;
        }

        button {
          margin-top: 1rem;
        }
      }
    }
  }
}
